/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  padding:2rem
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  margin-left: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
}

li:last-child {
  margin-bottom: 0;
}

li:hover {
  background-color: #f7f7f7;
}

li.complete {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

li.incomplete {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

button.task-action {
  padding: 6px 12px;
  margin-left: 12px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button.task-action:hover {
  background-color: #f0f0f0;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  form {
    flex-direction: column;
  }

  input[type='text'] {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    flex-direction: column;
  }

  li div {
    margin-bottom: 10px;
  }

  button.task-action {
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 12px;
  }
}
